:root {
    --bg-colour: grey;
    --text-colour: white;
    --paper-colour: #ede4d5;
    --green-button: hsl(120, 100%, 80%);
    --red-button: hsl(0, 100%, 80%);
    --grey-button: hsl(0, 0%, 75%);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    height: 100vh;
    font-size: 16px;
}
body {
    height: 100%;
    display: grid;
    grid-template-rows: minmax(2.5rem, 7vh) 8fr;
}
.container {
    display: grid;
    grid-template-rows: minmax(2rem, 0.75fr) 9fr;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--bg-colour);
    color: white;
    grid-row: 1/2;
    font-size: 2rem;
}
.top {
    display: flex;
    grid-row: 1/2;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 1.5rem;
}
#addBook{
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: scale 0.5s;
    font-size: 1rem;
}
#addBook:hover{
    scale: 1.1;
}
.middle {
    grid-row: 2/3;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 15vh 10vw 15vh 10vw;
    gap: 1vw;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(109, 110, 112, 1);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(109, 110, 112, 0.3);
    padding: 10px;
    font-size: 1rem;
}
.book-info{
    padding: 5px 0 5px 0;
}
.card-buttons{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 15px;
    padding-top: 15px;
    width: 100%;
}
.card-button{
    height: 1.75rem;
}
button{
    border: none;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    transition: filter 0.5s ;
    filter: brightness(0.9);
}
.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: var(--text-colour);
    background-color: var(--bg-colour);
    grid-row: 3/4;
    margin: 0;
    padding: 0;
}
#addBookModal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    min-height: fit-content;
    max-height: fit-content;
    grid-template-rows: 1fr 6fr;
    width: fit-content;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--paper-colour);
    justify-items: center;
    z-index: 1;
}
.modal-header{
    width: 100%;
    display: flex;
    justify-content: center;
}
#modalForm{
    display: grid;
    gap: 1vh;
    grid-template-rows: 5fr 1fr;
    height: 100%;
    width: inherit;
    padding: 0 5px 0 5px;
}
.book-inputs{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: inherit;
}
input{
    max-width: 200px;
    border-radius: 5px;
    padding: 3px;
    border: none;
}
input:focus {
    border: none;
    outline: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transform: scale(1.02);
}
.green-button{
    background-color: var(--green-button);
}
.red-button{
    background-color: var(--red-button);
}
#confirmButton{
    width: 100%;
    height: 1.5rem;
    border: none;
}
#backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
}
.modal.inactive{
    display: none;
}
.modal.active{
    display: grid;
}
a, a:visited{
    color: black;
}
dialog::backdrop{
    background: rgba(0, 0, 0, 0.35);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
